{
    "extends": [
        "./eslint-config-share/index.js",
        "./eslint-config-vue/index.js",
        "prettier"
    ],
    "plugins": [
        "prettier"
    ],
    "rules": {
        "prettier/prettier": [
            "error"
        ]
    }
}
